# Capstone
### This project will be used for coursera Capstone course

In [45]:
import pandas as pd
import numpy as np

from sklearn.utils import resample
from sklearn import preprocessing

In [46]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [85]:
df_original = pd.read_csv('Data-Collisions.csv')
df = df_original.copy()
df_original.info()

/Users/SvetlanaKorchagina/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

In [86]:
columns_to_drop = ['X', 'Y','SDOTCOLNUM', 'ST_COLDESC', 'SDOT_COLDESC', 'COLDETKEY', 'INCKEY', 'OBJECTID', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'INCDATE', 'INATTENTIONIND', 'PEDROWNOTGRNT', 'SPEEDING']

In [87]:
# unnessesary columns dropped
df.drop(columns = columns_to_drop, inplace = True)

In [88]:
# coverted column with date and time of accident to datetime format
df['INCDTTM'] = pd.to_datetime(df['INCDTTM'])

In [89]:
# dropping unknown
df.drop(index = df[df['ST_COLCODE'] == ' '].index, inplace = True)
df.dropna(axis = 0, inplace = True)

In [90]:
# converting data in columns from str to numeric
df['UNDERINFL'].replace(to_replace=['N','Y'], value=[0,1],inplace=True)
df['UNDERINFL'] = pd.to_numeric(df['UNDERINFL'])

df['HITPARKEDCAR'].replace(to_replace=['N','Y'], value=[0,1],inplace=True)
df['STATUS'].replace(to_replace=['Unmatched','Matched'], value=[0,1],inplace=True)


df['ST_COLCODE'] = pd.to_numeric(df['ST_COLCODE'])

In [91]:
# filling nan values with Unknown 
df['WEATHER'].fillna('Unknown', inplace = True)
df['ROADCOND'].fillna('Unknown', inplace = True)
df['LIGHTCOND'].fillna('Unknown', inplace = True)
df['JUNCTIONTYPE'].fillna('Unknown', inplace = True)
df['COLLISIONTYPE'].fillna('Unknown', inplace = True)

In [92]:
# dropping duplicates
df.drop_duplicates(subset = 'REPORTNO', keep = 'first', inplace=True)

In [93]:
df.head()

,SEVERITYCODE,REPORTNO,STATUS,ADDRTYPE,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,JUNCTIONTYPE,SDOT_COLCODE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,3502005,1,Intersection,2,Injury Collision,Angles,2,0,0,...,At Intersection (intersection related),11,0,Overcast,Wet,Daylight,10,0,0,0
1,1,2607959,1,Block,1,Property Damage Only Collision,Sideswipe,2,0,0,...,Mid-Block (not related to intersection),16,0,Raining,Wet,Dark - Street Lights On,11,0,0,0
2,1,1482393,1,Block,1,Property Damage Only Collision,Parked Car,4,0,0,...,Mid-Block (not related to intersection),14,0,Overcast,Dry,Daylight,32,0,0,0
3,1,3503937,1,Block,1,Property Damage Only Collision,Other,3,0,0,...,Mid-Block (not related to intersection),11,0,Clear,Dry,Daylight,23,0,0,0
4,2,1807429,1,Intersection,2,Injury Collision,Angles,2,0,0,...,At Intersection (intersection related),11,0,Raining,Wet,Daylight,10,0,0,0

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182892 entries, 0 to 194672
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    182892 non-null  int64
 1   REPORTNO        182892 non-null  object
 2   STATUS          182892 non-null  int64
 3   ADDRTYPE        182892 non-null  object
 4   SEVERITYCODE.1  182892 non-null  int64
 5   SEVERITYDESC    182892 non-null  object
 6   COLLISIONTYPE   182892 non-null  object
 7   PERSONCOUNT     182892 non-null  int64
 8   PEDCOUNT        182892 non-null  int64
 9   PEDCYLCOUNT     182892 non-null  int64
 10  VEHCOUNT        182892 non-null  int64
 11  INCDTTM         182892 non-null  datetime64[ns]
 12  JUNCTIONTYPE    182892 non-null  object
 13  SDOT_COLCODE    182892 non-null  int64
 14  UNDERINFL       182892 non-null  int64
 15  WEATHER         182892 non-null  object
 16  ROADCOND        182892 non-null  object
 17  LIGHTCOND       182892 non-null  object
 18  ST_COLCODE      182892 non-null  int64
 19  SEGLANEKEY      182892 non-null  int64
 20  CROSSWALKKEY    182892 non-null  int64
 21  HITPARKEDCAR    182892 non-null  int64
dtypes: datetime64[ns](1), int64(13), object(8)
memory usage: 32.1+ MB

In [95]:
df['ADDRTYPE'].value_counts()

Block           119359
Intersection     63298
Alley              235
Name: ADDRTYPE, dtype: int64